draw_config:
  key_w: 60
  key_h: 56
  split_gap: 30.0
  combo_w: 28
  combo_h: 26
  key_rx: 6.0
  key_ry: 6.0
  dark_mode: auto
  n_columns: 1
  separate_combo_diagrams: false
  combo_diagrams_scale: 2
  inner_pad_w: 2.0
  inner_pad_h: 2.0
  outer_pad_w: 30.0
  outer_pad_h: 56.0
  line_spacing: 1.2
  arc_radius: 6.0
  append_colon_to_layer_header: true
  small_pad: 2.0
  legend_rel_x: 0.0
  legend_rel_y: 0.0
  draw_key_sides: false
  key_side_pars:
    rel_x: 0
    rel_y: 4
    rx: 4
    ry: 4
    w: 12
    h: 12
    label_color: '#aaaaaa'
    label_size: 10
  svg_style: |
    /* Inherit font family from the browser */
    text { font-family: inherit; }
    /* Checkbox for held keys */
    .held { fill: #add8e6; }
  shrink_wide_legends: 7
  glyph_tap_size: 14
  glyph_hold_size: 12
  glyph_shifted_size: 10
  glyphs: {}
parse_config:
  preprocess: true
  skip_binding_parsing: false
  raw_binding_map:
    '&bt_mac': 'MAC'
    '&bt_nix': 'LINUX'
    '&studio_unlock': 'UNLOCK'
  zmk_combos: {}
  zmk_preamble: ''
  zmk_additional_includes: []
