on:
  workflow_dispatch:
  push:
    paths-ignore:
      - "**.md"
      - "**.svg"
      - "keymap-drawer/**"
      - ".github/workflows/keymap_drawer.yaml"
  pull_request:
    paths-ignore:
      - "**.md"
      - "**.svg"
      - "keymap-drawer/**"
      - ".github/workflows/keymap_drawer.yaml"

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    uses: zmkfirmware/zmk/.github/workflows/build-user-config.yml@main
